@import 'nib'

global-reset()

html
  height: 100%
body
  background: #333
  padding: 2rem
  height: 100%
  color: white
  font-family: sans-serif
  overflow: hidden
h1
  font-size: 3rem
  font-weight: bold
  text-align: center

